FONT-SIZE
body {
      font-size: 1.15em;
}

FONT WEIGHT
#title {
        font-weight: 400;
}

FONT-STYLE

.italics {
          font-style: italic;
                      oblique;
                      Normal;
}

Google fonts